body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#main-content{
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
#search-summoner{
  width: 500px;
}
#search-summoner-button{
  margin-top: 10px;
  text-align: center;
}
