body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#main-content{
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
#search-summoner{
  width: 70%;
  margin-bottom: 20px;
}
#search-summoner-button{
  margin-top: 10px;
  text-align: center;
}
#search-form{
  width: 100%;
}
#width-control{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#positions{
  width: 50%;
  margin: 0 auto;
}
.position-checkbox{
  padding: 0 !important; /* Used to properly center the checkboxes */
}
td{
  border-top: 0px !important; /* Used to remove the border */
}
