body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
  background-image: url("./images/background02.jpg");
  background-size: cover;
}
#main-content{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-summoner{
  width: 100%;
  margin-bottom: 20px;
}
#search-bar{
  width: 100%;
  overflow: hidden;
}
#search-summoner-input{
  float: left;
  width: 80%;
  margin-right: 5px;
}
#search-summoner-button{
  overflow: hidden;
}
#button-height{
  height: 38px;
}
#width-control{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#positions{
  width: 50%;
  margin: 0 auto;
}
.position-checkbox{
  padding: 0 !important; /* Used to properly center the checkboxes */
}
td{
  border-top: 0px !important; /* Used to remove the border */
}
#top-champs{
  margin: 0 auto;
}
#summoner-info{
  width: 100%;
  display: flex;
}
#summoner-icon{
  width: 80px;
}
#summoner-name{
  flex: 1;
  align-self: center;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2px !important;
  background-color: #efefef;
  text-align: center;
}
.no-margin-header{
  margin: 0 !important;
}
.no-padding-column{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
#most-played-table{
  margin-top: 3px !important;
}
.centered-form-field{
  width: 100%;
}
